{% extends 'layout.html' %}

{% block title %}
Stock details
{% endblock %}

{% block css %}

{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="kline" style="width: 100%;height:500px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body clearfix">
                {% if pricedata.change > 0 %}
                <div style="color: #32CD32;">
                    <div style="font-size: 60px;">
                        {{ticker}}
                    </div>
                    <div>
                        <span style="font-size: 40px;">
                            {{pricedata.close}}
                        </span>
                        <span style="font-size: 23px;">
                            (+{{pricedata.change}}%)
                        </span>
                    </div>
                </div>
                {% else %}
                <div style="color: #CD5C5C;">

                    <div style="font-size: 60px;">
                        {{ticker}}
                    </div>
                    <div>
                        <span style="font-size: 40px;">
                            {{pricedata.close}}
                        </span>
                        <span style="font-size: 23px;">
                            ({{pricedata.change}}%)
                        </span>
                    </div>
                </div>
                {% endif %}
                <table class="table table-hover table-condensed">
                    <colgroup>
                        <col class="col-xs-4">
                        <col class="col-xs-6">
                    </colgroup>
                    <tbody style="font-size: 20px;">
                    <tr>
                        <th scope="row">
                            Open
                        </th>
                        <td>
                            {{pricedata.open}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Close
                        </th>
                        <td>
                            {{pricedata.close}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            High
                        </th>
                        <td>
                            {{pricedata.high}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Low
                        </th>
                        <td>
                            {{pricedata.low}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Volume
                        </th>
                        <td>
                            {{pricedata.volume}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Market Cap
                        </th>
                        <td>
                            {{stockdata.marketcap}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Beta
                        </th>
                        <td>
                            {{stockdata.beta}}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <div style="float: right; margin-bottom: 6px;">
                    <form method="get" action="/backtest/">
                        <input type="text" style="display: none" name="ticker" value="{{ticker}}">
                        <input type="submit" class="btn btn-primary" value="To Backtest">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-left: 100px; padding-right: 100px; ">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-bullhorn"></i>
                News
                <span style="float:right;">
                    <i class="fa fa-star-o"></i>
                    AI analysis
                </span>
            </h3>
        </div>
        <div class="panel-body clearfix">

            {% for news in newsdata %}
            <div>
                {% if news.emo == 0 %}
                <div class="col-md-11">
                    <div class="panel panel-danger">
                        <div class="panel-heading"></div>
                        <div class="panel-body" style="font-size: 20px">
                            {{ news.text }}
                        </div>
                    </div>
                </div>
                <div class="col-md-1" style="padding-top:10px;">
                    <i class="fa fa-thumbs-o-down fa-4x" style="color: #CD5C5C"></i>
                </div>
                {% elif news.emo == 1 %}
                <div class="col-md-11">
                    <div class="panel panel-info">
                        <div class="panel-heading"></div>
                        <div class="panel-body" style="font-size: 18px">
                            {{ news.text }}
                        </div>
                    </div>
                </div>
                <div class="col-md-1" style="padding-top:10px;">
                    <i class="fa fa-hand-o-right fa-4x" style="color: #00BFFF"></i>
                </div>
                {% else %}
                <div class="col-md-11">
                    <div class="panel panel-success">
                        <div class="panel-heading"></div>
                        <div class="panel-body" style="font-size: 20px">
                            {{ news.text }}
                        </div>
                    </div>
                </div>
                <div class="col-md-1" style="padding-top:10px;">
                    <i class="fa fa-thumbs-o-up fa-4x" style="color: #32CD32"></i>
                </div>
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}

    <script>
        {% block js %}

        const upColor = '#ec0000';
        const downColor = '#00da3c';


        $(function () {
            initbar();
        })


        function splitData(rawData) {
            let categoryData = [];
            let values = [];
            let volumes = [];
            for (let i = 0; i < rawData.length; i++) {
                categoryData.push(rawData[i].splice(0, 1)[0]);
                values.push(rawData[i]);
                volumes.push([i, rawData[i][4], rawData[i][0] > rawData[i][1] ? 1 : -1]);
            }
            return {
                categoryData: categoryData,
                values: values,
                volumes: volumes
            };
        }


        function initbar() {
            function calculateMA(dayCount, data) {
                var result = [];
                for (var i = 0, len = data.values.length; i < len; i++) {
                    if (i < dayCount) {
                        result.push('-');
                        continue;
                    }
                    var sum = 0;
                    for (var j = 0; j < dayCount; j++) {
                        sum += parseFloat(data.values[i - j][1]);
                    }
                    result.push(+(sum / dayCount).toFixed(3));
                }
                console.log(result[100])
                return result;
            }

            var myChart = echarts.init(document.getElementById('kline'));
            $.ajax({
                url: "/stock/bar/?ticker={{ ticker }}",
                type: "get",
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        var price = JSON.parse(res.data.pricedata);
                        console.log(price);
                        rawData = [];
                        for (let i in price) {
                            rawData[i] = [price[i].fields.ctime, price[i].fields.close, price[i].fields.open, price[i].fields.low, price[i].fields.high, price[i].fields.volume];
                        }
                        var data = splitData(rawData);
                        var option = {
                            animation: false,
                            legend: {
                                bottom: 10,
                                left: 'center',
                                data: ['{{ticker}}', 'MA5', 'MA10', 'MA20', 'MA30']
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross'
                                },
                                borderWidth: 1,
                                borderColor: '#ccc',
                                padding: 10,
                                textStyle: {
                                    color: '#000'
                                },
                                position: (function (pos, params, el, elRect, size) {
                                    const obj = {
                                        top: 10
                                    };
                                    obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
                                    return obj;
                                })
                                // extraCssText: 'width: 170px'
                            },
                            axisPointer: {
                                link: [
                                    {
                                        xAxisIndex: 'all'
                                    }
                                ],
                                label: {
                                    backgroundColor: '#777'
                                }
                            },
                            toolbox: {
                                feature: {
                                    dataZoom: {
                                        yAxisIndex: false
                                    },
                                    brush: {
                                        type: ['lineX', 'clear']
                                    }
                                }
                            },
                            brush: {
                                xAxisIndex: 'all',
                                brushLink: 'all',
                                outOfBrush: {
                                    colorAlpha: 0.1
                                }
                            },
                            visualMap: {
                                show: false,
                                seriesIndex: 5,
                                dimension: 2,
                                pieces: [
                                    {
                                        value: 1,
                                        color: downColor
                                    },
                                    {
                                        value: -1,
                                        color: upColor
                                    }
                                ]
                            },
                            grid: [
                                {
                                    left: '10%',
                                    right: '8%',
                                    height: '50%'
                                },
                                {
                                    left: '10%',
                                    right: '8%',
                                    top: '63%',
                                    height: '16%'
                                }
                            ],
                            xAxis: [
                                {
                                    type: 'category',
                                    data: data.categoryData,
                                    boundaryGap: false,
                                    axisLine: {onZero: false},
                                    splitLine: {show: false},
                                    min: 'dataMin',
                                    max: 'dataMax',
                                    axisPointer: {
                                        z: 100
                                    }
                                },
                                {
                                    type: 'category',
                                    gridIndex: 1,
                                    data: data.categoryData,
                                    boundaryGap: false,
                                    axisLine: {onZero: false},
                                    axisTick: {show: false},
                                    splitLine: {show: false},
                                    axisLabel: {show: false},
                                    min: 'dataMin',
                                    max: 'dataMax'
                                }
                            ],
                            yAxis: [
                                {
                                    name: 'Price(USD)',
                                    scale: true,
                                    splitArea: {
                                        show: true
                                    }
                                },
                                {
                                    scale: true,
                                    gridIndex: 1,
                                    splitNumber: 2,
                                    axisLabel: {show: false},
                                    axisLine: {show: false},
                                    axisTick: {show: false},
                                    splitLine: {show: false}
                                }
                            ],
                            dataZoom: [
                                {
                                    type: 'inside',
                                    xAxisIndex: [0, 1],
                                    start: 0,
                                    end: 100
                                },
                                {
                                    show: true,
                                    xAxisIndex: [0, 1],
                                    type: 'slider',
                                    top: '85%',
                                    start: 0,
                                    end: 100
                                }
                            ],
                            series: [
                                {
                                    name: '{{ticker}}',
                                    type: 'candlestick',
                                    data: data.values,
                                    itemStyle: {
                                        color: upColor,
                                        color0: downColor,
                                        borderColor: undefined,
                                        borderColor0: undefined
                                    },
                                    tooltip: {
                                        formatter: function (param) {
                                            param = param[0];
                                            return [
                                                'Date: ' + param.name + '<hr size=1 style="margin: 3px 0">',
                                                'Open: ' + param.data[0] + '<br/>',
                                                'Close: ' + param.data[1] + '<br/>',
                                                'Lowest: ' + param.data[2] + '<br/>',
                                                'Highest: ' + param.data[3] + '<br/>'
                                            ].join('');
                                        }
                                    }
                                },
                                {
                                    name: 'MA5',
                                    type: 'line',
                                    data: calculateMA(5, data),
                                    smooth: true,
                                    lineStyle: {
                                        opacity: 0.5
                                    }
                                },
                                {
                                    name: 'MA10',
                                    type: 'line',
                                    data: calculateMA(10, data),
                                    smooth: true,
                                    lineStyle: {
                                        opacity: 0.5
                                    }
                                },
                                {
                                    name: 'MA20',
                                    type: 'line',
                                    data: calculateMA(20, data),
                                    smooth: true,
                                    lineStyle: {
                                        opacity: 0.5
                                    }
                                },
                                {
                                    name: 'MA30',
                                    type: 'line',
                                    data: calculateMA(30, data),
                                    smooth: true,
                                    lineStyle: {
                                        opacity: 0.5
                                    }
                                },
                                {
                                    name: 'Volume',
                                    type: 'bar',
                                    xAxisIndex: 1,
                                    yAxisIndex: 1,
                                    data: data.volumes
                                }
                            ]
                        }
                        myChart.setOption(option, true);
                        myChart.dispatchAction({
                            type: 'brush',
                            areas: [
                                {
                                    brushType: 'lineX',
                                    coordRange: ['2016-06-02', '2016-06-20'],
                                    xAxisIndex: 0
                                }
                            ]
                        });
                    }
                }
            })
        }

        {% endblock %}
    </script>